:root {
    --color-text: #ffffff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-background: #04152d;
    --font-roboto: "Roboto", sans-serif;
}

.hero-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.hero-title {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: var(--font-roboto);
    color: var(--color-text);  
    text-rendering: optimizeLegibility;    
    animation: fadeInLeft 1.2s ease-out;
}


.hero-description {
    font-size: 24px;
    margin-bottom: 40px;
    font-family: var(--font-roboto);
    line-height: 1.6;
    opacity: 0;
    animation: fadeIn 1.4s ease-out forwards;
}

.hero-button-container {
    display: flex;
    gap: 20px;
}

.hero-contact-btn {
    text-decoration: none;
    background: var(--color-primary);
    color: var(--color-text);
    border-radius: 30px;
    font-size: 25px;
    padding: 12px 30px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    
}

.hero-contact-btn:hover {
    background: var(--color-secondary);
    transform: scale(1.05);
}

.hero-img {
    width: 40%;
    z-index: 1;
    margin-bottom: 10px;
    border-radius: 20px;
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.hero-topcircle, .hero-bottomcircle {
    position: absolute;
    border-radius: 50%;
    background: rgba(25, 55, 109, 0.7);
    filter: blur(100px);
}

.hero-topcircle {
    width: 350px;
    height: 350px;
    top: -80px;
    left: -20%;
    opacity: 0.5;
}

.hero-bottomcircle {
    width: 500px;
    height: 500px;
    bottom: -120px;
    right: -15%;
    opacity: 0.5;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInLeft {
    0% { opacity: 0; transform: translateX(-20px); }
    100% { opacity: 1; transform: translateX(0); }
}

@media screen and (max-width: 830px) {
    .hero-container {
        flex-direction: column-reverse;
        padding: 30px;
    }
    .hero-content {
        align-items: center;
        text-align: center;
    }
    .hero-title {
        font-size: 50px;
    }
    .hero-img {
        width: 80%;
        margin-top: 20px;
        
    }
}
